<link rel="stylesheet" href="/css/styles.css">

<footer>
        <div class="social-media">
            <a href="https://www.facebook.com/profile.php?id=100065085966166">Facebook</a>
            <a href="https://twitter.com">Twitter</a>
            <a href="https://www.instagram.com">Instagram</a>
        </div>
        <form class="newsletter">
            <input type="email" placeholder="Subscribe to our newsletter">
            <button>Subscribe</button>
        </form>
        <div class="contact-info">
            <p>Email: contact@dashcamstore.com</p>
            <p>Phone: (123) 456-7890</p>
        </div>
    </footer>