<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<footer>
    <div class="footer-content">
        <div class="footer-links">
            <a href="/about">About Us</a>
            <a href="/contact">Contact Us</a>
        </div>
        <div class="social-media">
            <a href="https://www.facebook.com/profile.php?id=100065085966166" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
            {{!-- <a href="https://twitter.com" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com" aria-label="Instagram"><i class="fab fa-instagram"></i></a> --}}
        </div>
        <form class="newsletter">
            <input type="email" placeholder="Subscribe to our newsletter" aria-label="Email address">
            <button type="submit">Subscribe</button>
        </form>
        <div class="contact-info">
            <p>Email: Qualitydashcam1@gmail.com</p>
            <p>Phone: x</p>
        </div>
    </div>
</footer>